.container th{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #209aa4;
    color: white;

}

.container tr:nth-child(even){background-color: #f2f2f2;}

.container tr:hover {background-color: #ddd;}

.container td, .container th {
    border: 1px solid #ddd;
    padding: 8px;
}
.container{
  margin:20px;
  text-align:center;
}
